include ../common-mixins
include ../icon/icon


mixin card(imgSrc, name, pos, text)
	+e.crew-card&attributes(attributes)
		+e.img-wrapper
			+e.IMG.img(src=imgSrc, alt=name)
			+e.text-wrapper
				+e.P.text #{text}
				+e.socials
					+e.A.social-link()
						+icon('fb', false).icon
					+e.A.social-link()
						+icon('istagram', false).icon
		+e.name #{name}
		+e.pos  #{pos}

mixin crew()
	+b.crew&attributes(attributes)#teams
		+e.container
			+title("Meet out crew", "Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text ")
			+e.crew-cards
				+card('assets/images/person-hasan.jpg', 'IBN HASAN', 'CEO', "I am a professional CEO")
				+card('assets/images/person-redwan.jpg', 'Raf Redwan', 'Lead of design', "Hi ! I m Redwan from bangladesh.I am a Professional graphic designer & expert on print and UI / UX.")
				+card('assets/images/person-owalar.jpg', 'Bary Owalar mey', 'Dev', "I am a professional Developer")
				+card('assets/images/person-ahmed.jpg', 'Tofail Ahmed', 'Akamla', "I am a professional CEO")

		block
