include ../common-mixins
include ../icon/icon

mixin post(imgSrc, title, author, description, date)
	+e.post
		+e.post-img(src=imgSrc, alt=title)
		+e.info
			+e.info-title #{title}
			+e.info-author #{author}
			+e.info-description #{description}
			+e.info-date #{date}
				+icon('calendar', false).icon

mixin latest-blog()
	+b.latest-blog&attributes(attributes)#blog
		+e.container
			+title("Latest Blog", "Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text ")
			+e.posts
				+post("assets/images/news.jpg", "The winter tal's", "Raf Redwan", "lorem inpsu mdolrorsf aoasdfsad sa sd ", "12, september 2015")
				+post("assets/images/news-car.jpg", "The winter tal's", "Raf Redwan", "lorem inpsu mdolrorsf aoasdfsad sa sd ", "12, september 2015")


		block
